.section1 {
	background-color: #273040;
	height: 1080px;
	padding-bottom: 60px;
}

.blue1 {
	background-color: #0C76B5;
	height: 45px;
}

.text1 {
	margin-top: 150px;
	text-align: center;
	font-size: 34px;
	font-family: Arial;
	color: white;
}

.text2 {
	margin-top: 30px;
	text-align: center;
	font-size: 16px;
	color: white;
}

.black1 {
	margin-top: 30px;
	width: 210px;
	height: 50px;
	background-color: #191E28;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.blue2 {
	height: 50px;
	background-color: #0C76B5;
}

.white1 {
	height: 20px;
	width: 48px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	margin-top: 220px;
	margin-bottom: 125px;
}

.white2 {
	height: 65px;
	width: 300px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.section2 {
	height: 190px;
	background-color: #E2ECF3;
}

.section3 {
	height: 1520px;
	background-color: #C7C9CE;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.white3 {
	height: 215px;
	background-color: white;
	margin-bottom: 25px;
}

.white4 {
	height: 240px;
	background-color: white;
	margin-bottom: 25px;
}

.section4 {
	height: 55px;
	background-color: #E2ECF3;
	padding-top: 95px;
	padding-bottom: 20px;
}

.blue3 {
	height: 50px;
	width: 210px;
	background-color: #1577B3;
	margin-left: auto;
	margin-right: auto;
}

.section5 {
	height: 105px;
	background-color: black;
	padding-top: 25px;
}

.text3 {
	color: white;
	font-family: Arial;
	font-size: 10px;
	text-align: center;
	word-spacing: 20px;
	margin-left: 40px;
	margin-right: 40px;
}

.white5 {
	background-color: white;
	width: 130px;
	height: 25px;
	margin-top: 25px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

.section6 {
	height: 25px
}

.text4 {
	word-spacing: 0px
}
